/* Layout >>>>>>>>>>>>>> */

/* Variávreis */
:root {
    --preto: #0D0D0D;
    --cinza: #2E2E2E;
    --branco: #F5F5F5;
    --vermelho: #9c0b16;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "parkinsans";
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    border: 1px solid var(--branco);
}
/* Fim - Layout <<<<<<<<<<<< */



/* Smartphone Portrait >>>>>>>>>>>>>> */

/*cabeçalho*/
header {
    height: 65px;
    background-color: var(--preto);
}

#logo img {
    width: 128px;
    height: 128px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 100px;
    border: 1px solid var(--branco);
}

#check {
    display: none;
}

label {
    color: rgba(245, 245, 245, 0.75);
    font-size: 2rem;
    position: fixed;
    right: 15px;
    top: 10px;
}

nav ul {
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.75);
    position: fixed;
    top: 65px;
    right: -65%;
    width: 50%;
    transition: all 1s;
}

/* Ação para a caixa checkbox */
/* Quando selecionado mudar propriedades ul*/
#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--preto);
}

nav ul li a {
    text-decoration: none;
    color: var(--branco)
}

/* Principal */
main {
    height: 70vh;
    background: url(img/Fundo.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

main h1 {
    font-size: 2.5rem;
    color: var(--branco);
    text-shadow: 2px 2px 4px var(--preto);
}

main h2 {
    font-size: 1.0rem;
    color: var(--preto);
}

main a {
    text-decoration: none;
    font-size: 0.6rem;
    color: var(--branco);
    background-color: var(--preto);
    padding: 10px 20px;
    border-radius: 15px;
}


/* Fim - Smartphone Portrait <<<<<<<<<<<< */

/* Smartphone Landscape >>>>>>>>>>>>>> */
@media(min-width: 576px) {
  
    /*Layout*/
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul{
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 100vh;
    }


}
/* Fim - Smartphone Landscape <<<<<<<<<<<< */

/* tablet Portrait >>>>>>>>>>>>>> */
@media(min-width: 768px) {
  
    /*Layout*/
    .container {
        max-width: 768px;
    }

}
/* Fim - tablet Portrait <<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>> */
@media(min-width: 992px) {
  
    /*Layout*/
    .container {
        max-width: 992px;
    }

}

/* Fim - Tablet Landscape <<<<<<<<<<<< */

/* Notebook/PC >>>>>>>>>>>>>> */
@media(min-width: 1200px) {
  
    /*Layout*/
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header {
        height: 80px;
    }

    #logo img {
        width: 180px;
        height: 180px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 8px;
    }

    nav ul li{
        border: 0;
        float: left;
    }

    nav ul li a:hover {
        color: var(--vermelho);
}

/* Principal */
    main h1{
        height: 7vh;
    }

}

/* Fim - Notebook/PC <<<<<<<<<<<< */

/*Full HD /4K >>>>>>>>>>>>>> */
@media(min-width: 1400px) {
  
    /*Layout*/
    .container {
        max-width: 1320px;
    }
}
/* Fim - Full HD /4K <<<<<<<<<<<< */


