/* Layout >>>>>>>>>>>>>> */

/* Variávreis */
:root {
    --preto: #0D0D0D;
    --cinza: #2E2E2E;
    --branco: #ffffff;
    --dourado: #D4AF37;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "parkinsans";
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    border: 1px solid var(--branco);
    
}

.btn:hover {
    background-color: var(--dourado);
    border: 1px solid var(--dourado);
    transition: 0.5s;
}
/* Fim - Layout <<<<<<<<<<<< */



/* Smartphone Portrait >>>>>>>>>>>>>> */

/*cabeçalho*/
header {
    height: 65px;
    background-color: var(--preto);
    border-bottom: 1px solid var(--dourado);
}

#logo img {
    width: 128px;
    height: 128px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 100px;
    border: 1px solid var(--dourado);
}

#check {
    display: none;
}

label {
    color: rgba(245, 245, 245, 0.75);
    font-size: 2rem;
    position: fixed;
    right: 15px;
    top: 10px;
}

nav ul {
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.75);
    position: fixed;
    top: 65px;
    right: -65%;
    width: 50%;
    transition: all 1s;
}

/* Ação para a caixa checkbox */
/* Quando selecionado mudar propriedades ul*/
#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--preto);
}

nav ul li a {
    text-decoration: none;
    color: var(--branco)
}

/* Principal */
main {
    height: 70vh;
    background: url(img/Fundo.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

main h1 {
    font-size: 2.7rem;
    color: var(--dourado);
    text-shadow: 2px 2px 4px var(--preto);
}

main h2 {
    font-size: 1.1rem;
    color: var(--branco);
}

main a {
    text-decoration: none;
    font-size: 0.6rem;
    color: var(--branco);
    background-color: var(--preto);
    padding: 10px 20px;
    border-radius: 15px;
}

/* Destaque */
#destaque{
    padding: 50px 15px;
    background: url(./img/Foto\ de\ fundo.png);
    background-size: cover;
    background-position: center;
}

#destaque .container{
    flex-direction: column;
    align-items: center;
}

#hero {
    text-align: center;
}

#hero img{
    width: 300px;
    height: 240px;
    margin-bottom: 50px;
    border-radius: 35px;
    border: 1px solid var(--dourado);
}

#hero-text h2{
    margin-bottom: 15px;
    color: var(--dourado);
}

#hero-text p {
    color: var(--branco);
    margin-bottom: 30px;
    line-height: 25px;
}

.topics img {
    width: 40px;
    height: 40px;
}

.topics{
    display: flex;
    align-items: left;
    margin-bottom: 30px;
}

.topics p {
    margin-left: 15px;
    color: var(--branco);
}





/* Fim - Smartphone Portrait <<<<<<<<<<<< */

/* Smartphone Landscape >>>>>>>>>>>>>> */
@media(min-width: 576px) {
  
    /*Layout*/
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul{
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 100vh;
    }

    /* Destaque */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container{
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 160px;
        margin: 0px 50px 0px 0px;
    }

    .topics {
        display: none;
    }

    .topics img {
        width: 60px;
        height: 60px;
    }


}
/* Fim - Smartphone Landscape <<<<<<<<<<<< */

/* tablet Portrait >>>>>>>>>>>>>> */
@media(min-width: 768px) {
  
    /*Layout*/
    .container {
        max-width: 768px;
    }

}
/* Fim - tablet Portrait <<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>> */
@media(min-width: 992px) {
  
    /*Layout*/
    .container {
        max-width: 992px;
    }

}

/* Fim - Tablet Landscape <<<<<<<<<<<< */

/* Notebook/PC >>>>>>>>>>>>>> */
@media(min-width: 1200px) {
  
    /*Layout*/
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header {
        height: 80px;
    }

    #logo img {
        width: 180px;
        height: 180px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 8px;
    }

    nav ul li{
        border: 0;
        float: left;
    }

    nav ul li a:hover {
        color: var(--dourado);
        transition: 0.5s;
}

/* Principal */
    main h1{
        height: 7vh;
    }

/* Destaque */
    #destaque {
        background-attachment: fixed;
        /* Efeito parallax */
    }

    #hero img {
        width: 300px;
        height: 260px;
    }

    .topics {
        display: flex;
        flex-direction: column;
    }

}


/* Fim - Notebook/PC <<<<<<<<<<<< */

/*Full HD /4K >>>>>>>>>>>>>> */
@media(min-width: 1400px) {
  
    /*Layout*/
    .container {
        max-width: 1320px;
    }
}
/* Fim - Full HD /4K <<<<<<<<<<<< */


